<div class="secondary-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('banner-blog.avif') %>);">
  <div class="container">
    <h1>Blog</h1>
    <p>Bonne lecture et joie dՎchanger avec vous.</p>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> --> 
  </div>
</div>


<div class="articles-container">
  <% @articles.each do |article| %>
    <%= link_to article_path(article), class: "link-article-card" do %>
      <div class="blog-card">
        <p class="blog-card__publication-date">
          <%= article.publication_date ? article.publication_date&.strftime("%d %B %Y") : " - " %>
        </p>
        <div class="blog-card__image">
          <%= image_tag 'banner-blog.avif' %>
        </div>
          
        <span class="blog-card__title"><%= article.title&.truncate(40) %></span>
        <span class="blog-card__intro-text"><%= article.intro_text&.truncate(80) %></span>

        <p class="blog-card__button-read">
          Lire la suite
        </p>
      </div>
    <% end %>
  <% end %>
</div>
