 
 <div class="section-contact-form-container__form_container">

<%= simple_form_for(@article) do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
          <% @article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs">
      <%= f.input :title, label: "Titre" %>
    </div>

     <div class="two_inputs_row">
        <%= f.input :author, label: "Auteur" %>
        <%= f.input :publication_date, type: :date, html5: true  %>
    </div>
    <div class="form-inputs">
      <%= f.rich_text_area :content %>
    </div>

    <%= f.input :photos, as: :file, label: "Miniature de l'offre", input_html: { multiple: true } %>

    <div class="flex justify-center">
      <%= f.submit "Envoyer", class: 'btn btn--dark mb-5' %>
    </div>           
  <% end %> 
</div>