<div class="banner-article-show">
  <div class="banner-article-show__image">
    <% if @article.photos.attached? %>
      <%= image_tag @article.photos.first %>
    <% else %>
      <%= image_tag "banner-blog.avif" %>
    <% end %>
  </div>

  <div class="banner-article-show__description">
    <span><%= @article.publication_date&.strftime("%d %B %Y") %></span>
    <h1 class="terracotta"><%= @article.title %></h1>
    <span><%= @article.author %></span>
  </div>
</div>


<div class="article-show-content">
  <div class="content">
    <span>  
      <%= @article.category %>
    </span>

    <div class="article-content">
      <%= @article.content %>
    </div>
  </div>
</div>


<div class="more-articles-container">
  <%= link_to articles_path, class: "button-read" do %>
    Voir plus d'article
  <% end %>
</div>

<%= render "pages/shared_home/section_contact_form" %>