<div class="banner-article-show">
  <div class="banner-article-show__image">
    <% if @article.photos.attached? %>
      <%= image_tag @article.photos.first %>
    <% else %>
      <%= image_tag "banner-blog.avif" %>
    <% end %>
  </div>

  <div class="banner-article-show__description">
    <span><%= @article.publication_date&.strftime("%d %B %Y") %></span>
    <h1 class="terracotta"><%= @article.title %></h1>
    <span><%= @article.author %></span>
  </div>
</div>


