<div class="navbar-container">
  <%= link_to root_path do %>
    <%= show_svg "faham-logo.svg" %>
  <% end %>

  <div class="navbar-container__link-container">

    <%= link_to "Accueil", root_path, class:"#{"active" if is_root_path? }" %>
    <%#= link_to "Références scientifiques", root_path %>
    <%= link_to "Blog", articles_path, class:"#{"active" if is_blog_path? }" %>

    <% if user_signed_in? %>
      <% if current_user.admin %>
        <%= link_to "Admin", "/admin", class:"#{"active" if is_admin_path? }" %>
      <% end %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% end %>
  </div>
</div>


<div class="navbar-mobile-container">
  <div class="navbar-mobile-container__link-container">
  <%= link_to root_path, class:"navbar-mobile-container__link #{"active" if is_root_path?}" do %>
    <i class="fa-solid fa-house"></i>
    Accueil
  <% end %>
  
    <%#= link_to "Références scientifiques", root_path %>
  <%= link_to articles_path, class: "navbar-mobile-container__link #{"active" if is_blog_path?}" do %>
    <i class="fa-solid fa-book"></i>
    Blog
  <% end %>

  <% if user_signed_in? %>
    <% if current_user.admin %>
      <%= link_to "/admin", class: "navbar-mobile-container__link #{"active" if is_admin_path?}" do %>
        <i class="fa-solid fa-cog"></i>
        Admin
      <% end %>
    <% end %>
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-mobile-container__link" do %>
      <i class="fa-solid fa-sign-out"></i>
      
    <% end %>
  <% end %>



  </div>
  


</div>