<div class="navbar-container">
  <%= link_to root_path do %>
    <%= show_svg "faham-logo.svg" %>
  <% end %>

  <div class="navbar-container__link-container">
    <%= link_to "Accueil", root_path %>
    <%#= link_to "Références scientifiques", root_path %>
    <%= link_to "Blog", articles_path %>

    <% if user_signed_in? %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% if current_user.admin %>
        <%= link_to "Admin", "#" %>
      <% end %>
    <% end %>
  </div>
</div>