<div class="admin-index-container">
  <div class="header-container">
    <h1 class="header-title">Temoignagnes clients</h1>
    
    <div class="flex align-center space-between  w-100percent">
      <%= link_to new_admin_testimony_path(), class: "btn btn--icon" do %>
        <i class="fas fa-plus"></i> <!-- Plus icon -->
        Nouveau témoignage
      <% end %>
      <%= link_to admin_index_path() do %>
        <i class="fas fa-arrow-left"></i> <!-- Back arrow icon -->
        Retour
      <% end %>
    </div>

    <div class="search-container">
      <%= form_tag(admin_testimonies_path, method: :get, class: "search-form") do %>
        <%= text_field_tag(:search, params[:search], placeholder: "Rechercher par titre ou par auteur", class: "search-input") %>
        <div class="flex">
          <%= submit_tag("Rechercher", class: "btn btn--dark") %>
          <% if params[:search].present? %>
            <%= link_to admin_testimonies_path, class: "btn btn--icon", method: :get do %>
              <i class="fas fa-sync-alt"></i>
              Réinitialiser
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="content-container">
    <table>
      <thead>
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Auteur</th>
          <th>Société</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @testimonies.each do |testimony| %>
          <tr>
            <td><%= testimony.title %></td>
            <td><%= testimony.description.truncate(50) %></td>
            <td><%= testimony.author %></td>
            <td><%= testimony.company %></td>
            <td>
              <%= link_to admin_testimony_path(testimony), class: "btn btn--icon" do %>
                <i class="fas fa-eye"></i> <!-- Show button with eye icon -->
              <% end %>
              <%= link_to edit_admin_testimony_path(testimony), class: "btn btn--icon" do %>
                <i class="fas fa-pencil-alt"></i> <!-- Edit button with pencil icon -->
              <% end %>
            </td>
            <td>             
              <%= link_to admin_testimony_path(testimony), method: :delete, data: { turbo_method: :delete } do %>
                <i class="fas fa-trash"></i> <!-- Delete button with trash icon -->
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
