<div class="section-chronologie">

    <div class="section-chronologie__card">
      <div class="section-chronologie__card__top-card">
          <div style="background-image: url(<%= asset_path('2009_2014.png') %>)">
            <span>2009</span>
            <span>2014</span>
          </div>
      </div>
      <div class="section-chronologie__card__bottom-card section-chronologie__card__bottom-card-secondary-bg">
        <span>Cursus universitaire</span>
        <span>en Sociologie-Anthropologie</span>
      </div>
    </div>
  
    <div class="section-chronologie__card">
      <div class="section-chronologie__card__top-card">
          <div style="background-image: url(<%= asset_path('2016.png') %>)">
            <span>2016</span>
          </div>
      </div>
      <div class="section-chronologie__card__bottom-card section-chronologie__card__bottom-card-quartenary-bg">
        <span>Doctorat et arrivée à l'île de</span>
        <span>la Réunion</span>
      </div>
    </div>
  
    <div class="section-chronologie__card">
      <div class="section-chronologie__card__top-card ">
          <div style="background-image: url(<%= asset_path('2019.png') %>)">
            <span>2019</span>
          </div>
      </div>
      <div class="section-chronologie__card__bottom-card section-chronologie__card__bottom-card-secondary-bg">
        <span>Soutenance de thèse</span>
      </div>
    </div>
  
    <div class="section-chronologie__card">
      <div class="section-chronologie__card__top-card ">
          <div style="background-image: url(<%= asset_path('2020.png') %>)">
            <span>2020</span>
          </div>
      </div>
      <div class="section-chronologie__card__bottom-card section-chronologie__card__bottom-card-quartenary-bg">
        <span>Entrée dans le domaine de</span>
        <span>la santé en milieu hospitalier</span>
        <span>pluriculturel</span>
      </div>
    </div>
  
    <div class="section-chronologie__card">
      <div class="section-chronologie__card__top-card ">
          <div style="background-image: url(<%= asset_path('2021.png') %>)">
            <span>2021</span>
          </div>
      </div>
      <div class="section-chronologie__card__bottom-card section-chronologie__card__bottom-card-secondary-bg">
        <span>Création de faham</span>
      </div>
    </div>

    <div class="linkedin-card">
        <%= image_tag "linkedin-icon.png" %>
        <%= link_to "Découvrez mon parcous en détails", "https://www.linkedin.com/in/estellelaboureur/", target: "_blank" %>

    </div>

</div>