<div class="section-contact-form-container">

  <%= image_tag "estelle-contact.png", class:"section-contact-form-container__picture"%>

  <div class="section-contact-form-container__form-container">
    <h3 class="h3--terracotta align-self-start">Restons en contact!</h3>
    <p class="s-paragraph">Vous avez des questions, besoin d’informations supplémentaires, ou échanger autour d’un projet ?</p>
    <p class="s-paragraph">Contactez-moi en remplissant le formulaire ci-dessous !</p>


    <%= simple_form_for :something do |f| %>
      <%= f.input :first_name, label: "Prénom", placeholder: "Alan" %>
      <%= f.input :last_name, label: "Nom", placeholder: "Turing" %>
      <%= f.input :email, label: "Email", placeholder: "alan.turing@enigma.com" %>
      <%= f.input :phone_number, label: "Téléphone", placeholder: "+33 1 23 45 67 89" %>
      <%= f.input :company, label: "Société", placeholder: "Société Enigma" %>
      <%= f.input :message, as: :text, placeholder: "Détaillez au mieux votre besoin. Sinon, pas de souci, nous établirons vos besoins ensemble :)" %>
      <%= f.input :need, label: "Aidez-moi à mieux vous connaitre! Vous êtes...",
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: { class: 'category-selector' },
                  collection: ["he"] %>
      <%= f.input :newsletter, label: " S'inscrire à la newsletter",
                  as: :boolean,
                  input_html: { class: "boolean-button-form" } %>
      <%= f.input :acceptation,
                  label: "En soumettant ce formulaire, vous acceptez que ces informations soient utilisées pour une éventuelle relation commerciale.",
                  as: :boolean,  input_html: { class: "boolean-button-form" } %>
        <%= f.submit "Envoyer", class: 'btn btn-primaire mb-5' %>
    <% end %>
  </div> 
  </div>
</div>